# Configurações do Supabase
NEXT_PUBLIC_SUPABASE_URL=https://jiuttipgcvjkosaadktp.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImppdXR0aXBnY3Zqa29zYWFka3RwIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc4MTEyMTQ4NCwiZXhwIjoyMDk2Njk3NDg0fQ.GrXbS8K2_5PKb654qUCJvlMdGwFi3TncaJWXB6yIJuI
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImppdXR0aXBnY3Zqa29zYWFka3RwIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc4MTEyMTQ4NCwiZXhwIjoyMDk2Njk3NDg0fQ.GrXbS8K2_5PKb654qUCJvlMdGwFi3TncaJWXB6yIJuI

# Configurações de Pagamento (Mercado Pago)
MERCADOPAGO_ACCESS_TOKEN=seu-access-token-de-producao-ou-teste

# Configurações de Clima (Opcional)
NEXT_PUBLIC_OPENWEATHER_API_KEY=
